<footer class="bg-color">
    <div id ="footer-i">
        </i>Social Page.All Rights Reserved
    </div>
    <div id = "footer-ii">
        <span><a href="/">Home</a>&nbsp</span>
        <br>
        <span><a href="/users/profile">Profile</a></span>
    </div>

</footer>