<header class =" bg-color height-f">
    <ul id="list-style">
        <% if(locals.user) {%>
            <li><a href="/users/profile">profile</a></li>
            <li><%= user.name%>&nbsp;<a href="/users/sign-out">Sign out</a></li>
        <% } else {%>
            <li><a href="/users/sign-in">Sign in</a>
                <a href="/users/sign-up">Sign up</a>
            </li>
        <% } %>
    </ul>
</header>